@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
  /*font-family: 'Barlow', sans-serif;*/
  font-family: lato;
}

a:hover{
  text-decoration: none;
}

.border-left{
  border-left: 2px solid var(--primary) !important;
}


.sidebar{
  top: 0;
  left : 0;
  z-index : 100;
  overflow-y: auto;
}

.overlay{
  background-color: rgb(0 0 0 / 45%);
  z-index: 99;
}

/* sidebar for small screens */
@media screen and (max-width: 767px){
  
  .sidebar{
    max-width: 18rem;
    transform : translateX(-100%);
    transition : transform 0.4s ease-out;
  }
  
  .sidebar.active{
    transform : translateX(0);
  }
  
}

.dash-article-image{
  height: 200px;
  width: 100%;
}

.article-image{
  height: 500px;
  width: 100%;
}