{% extends "studio/base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="container py-4">
    <h2 class="text-center"> {{action}} </h2>
    {% if request.path == "/studio/new-article" %}
    <form action="{{request.path}}" method="POST" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label>Select blog banner image</label><br>
            <input type="file" name="file" />
        </div>
        <div class="form-group mb-3">
            <input type="text" name="title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group mb-3">
            <textarea type="text" name="content" id="content" placeholder="Body"></textarea>
            {{ simplemde.load }}
        </div>
        <button type="submit" class="btn btn-primary mb-3"> {{btn_text}} </button>
    </form>
</div>
{% else %}
<form action="{{request.path}}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <!-- Begin add article form -->
    <label>Choose an image</label>
    <br>
    <input name="image" type="file" id="upload" style="display: none;" onchange="">
    <div class="form-group mt-4">
        {{ form.image(class_="form-control-file") }}
        {% if form.image.errors %}
        {% for error in form.image.errors %}
        <div class="alert alert-danger mt-2">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error }}<br>
        </div>
        {% endfor%}
        {% endif %}
    </div>
    <div class="form-group mb-3">
        {{ form.title(class_="form-control",placeholder="Title")}}
    </div>
    {% for error in form.title.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor%}
    <div class="form-group mb-3">
        {{ form.body(class_="form-control",placeholder="Body")}}
        {{ simplemde.load }}
    </div>
    {% for error in form.body.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor%}
    <!-- End add article form -->
    <button type="submit" class="btn btn-primary mb-3"> {{btn_text}} </button>
</form>
{% endif %}
{% endblock %}