{% extends "studio/base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="container py-4">
    <h3 class="text-center"> {{action}} </h3>
    <a class="text-white btn btn-primary btn-sm" data-toggle="collapse" href="#showAuthorForm" role="button" aria-expanded="false" aria-controls="showAuthorForm">{{ top_btn_action }}<i class="bi bi-plus-circle m-1"></i></a>
    <div class="collapse" id="showAuthorForm">
        <form action="{{request.path}}" method="POST">
            {{ form.csrf_token }}
            <!-- Begin add author form -->
            <div class="form-group mb-3 mt-3">
                {{ form.name(class_="form-control",placeholder="Author name")}}
            </div>
            {% for error in form.name.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endfor %}
            <!-- End add author form -->
            <button type="submit" class="btn btn-sm  btn-primary mb-3"> {{btn_text}} </button>
        </form>
    </div>
    <div class="table-responsive pt-2">
        <table class="table table-borderless table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
                </tr>
            </thead>
            <tbody class="table">
                {% for author in authors %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.name }}</td>
                    <td>
                        <div>
                            <a href="{{ url_for('studio.update_author',author_id = author.id) }}" class="text-white btn btn-primary btn-sm">Edit<i class="bi bi-pencil m-1"></i></a>
                            <!-- Button trigger modal -->
                            <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#staticBackdrop-{{author.id}}">
                                Delete <i class="bi bi-trash m-1"></i>
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop-{{author.id}}" tabindex="-1" aria-labelledby="authorDeleteConfirmation" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="authorDeleteConfirmation">Delete author</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Do you wish to delete this author?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                            <a href="{{ url_for('studio.delete_author',author_id = author.id) }}" class="btn btn-sm btn-danger">
                                                Yes,delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}